<%- include ('header') %>
<div class="navbar">
 <h1 id="title">FLASHCARDS</h1>
 <!-- Trigger/Open The Instruction Modal -->
 <h3 id="instruction-link">How to Use</h3>
 <h3 id="header-link"><a href="/">Home</a></h3>
 <h3 id="header-link">Login - coming soon!</h3>
 <h3 id="header-link"><a href="/signup">Sign-Up</a> - coming soon!</h3>
</div>
