<%- include ('header') %>
<div class="navbar">
 <h1 id="title">FLASHCARDS</h1>
 <!-- Trigger/Open The Instruction Modal -->
 <h3 id="instruction-link">How to Use</h3>
 <h3 id="header-link">Login - coming soon!</h3>
 <h3 id="header-link">Sign-Up - coming soon!</h3>
</div>
