<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FLASHCARDS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src=""></script>
  </head>
  <body>
    <div class="header">
     <h1 id="title">FLASHCARDS</h1>
     <h3 id="header-link">How to Use</h3>
     <h3 id="header-link">Login - coming soon!</h3>
     <h3 id="header-link">Sign-Up - coming soon!</h3>
    </div>
    <div class="row">
      <div class="column flashcard-link" id="flashcard-link1">
        <img onclick="flashcardTyped()" src="/images/addcardbox.jpg" alt="Link to flashcard creation prompt">
        <h3>Add a flashcard with your own text!</h3>
        </a>
      </div>
      <div class="column flashcard-link" id="flashcard-link2">
        <img onclick="flashcardWiki()" src="/images/addcardbox.jpg" alt="Link to flashcard creation prompt">
        <h3>Add a flashcard with info on any topic covered by Wikipedia!</h3>
        </a>
      </div>
      <div class="column flashcard-link" id="flashcard-link3">
        <img onclick="flashcardMovie()" src="/images/addcardbox.jpg" alt="Link to flashcard creation prompt">
        <h3>Add a flashcard with info on the sentiments of any movie!</h3>
        </a>
      </div>
    </div>
    <div id="creationSuccess">
    </div>

    <!-- Trigger/Open The Modal -->
    <div id="clickForCards">
      Click <button id="myBtn">Here</button> to use them!
    </div>

    <!-- The Modal -->
    <div id="cardModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="cardFront"></p>
        <p id="cardBack"></p>
        <button id="frontButton">Front</button>
        <button id="backButton">Back</button>
        <button id="editFront">Edit Front</button>
        <button id="editBack">Edit Back</button>
        <button id="anotherCard">Another Card</button>
      </div>

</div>
  </body>
  <script src="index.js"></script>
</html>
